## load packages and read file

In [1]:
from nltk.tokenize import sent_tokenize, word_tokenize
import warnings
from nltk.tokenize import RegexpTokenizer

# initiailze tokenizer
tokenizer = RegexpTokenizer(r'\w+')

warnings.filterwarnings(action = 'ignore')
import numpy as np
import gensim
from gensim.models import Word2Vec
import pandas as pd
import collections
import itertools
import nltk
nltk.download('punkt')
import math

from scipy.spatial.distance import cosine

[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Package punkt is already up-to-date!

In [2]:
xls=pd.ExcelFile('drive/MyDrive/agoda/mappinghotelsdataset.xlsx')
P1 = pd.read_excel(xls, 'Partner1', na_filter=False)
P2 = pd.read_excel(xls, 'Partner2',na_filter=False)

## Prepare  the corpus by tokenizing selected nominal values
#### no need to remove NA's as they are considered as the empty string ('')

In [3]:
p14=[str(x) for x in P1.iloc[:,4]]
p24=[str(x) for x in P2.iloc[:,4]]
p16=[str(x) for x in P1.iloc[:,6]]
p26=[str(x) for x in P2.iloc[:,6]]
p1=P1.iloc[:,1]+" "+ P1.iloc[:,2] +  " " + P1.iloc[:,3]+" "+ " " +p14+" " +p16
p1_a=P1.iloc[:,1]
p1_1=P1.iloc[:,2]# +  " " + P1.iloc[:,3]
p1_A=p14
p2=P2.iloc[:,1]+" "+ P2.iloc[:,2] + " " + P2.iloc[:,3] + " " +p24+" " + p26
p2_a=P2.iloc[:,1]
p2_1=P2.iloc[:,2]
p2_A=p24



def tokenize(P:list):
  temp1 = []

  for p in P:
    
    try: 
      for j in tokenizer.tokenize(p):
        temp1.append(j.lower())
      
    except:
      continue;
  return temp1
words=tokenize(p1+p2)


counter=collections.Counter(words)
mc=[i[0] for i in counter.most_common(100)]

In [4]:
def gather_data(P:list):
  '''
  tokenize data; 
  return tokenized bag of words
  '''
  data = []

  for p in P:
        temp = []
        try:
          for j in tokenizer.tokenize(p):
            if j.lower() not in mc:

              temp.append(j.lower())

          data.append(temp)
        except:
          pass
  return data

data1=gather_data(p1); data2=gather_data(p2); data1_1=gather_data(p1_1); data1_A=gather_data(p1_A)
data2_1=gather_data(p2_1); data1_a=gather_data(p1_a); data2_a=gather_data(p2_a); data2_A=gather_data(p2_A)

## run nltk's word2vec with sg=1 (stands for skip gram of 1 n)

In [5]:
# run the word 2 vec algorithm; cbow method
model1w = gensim.models.Word2Vec(data1+data2, min_count = 1, 
                              size = 250, window = 3,sg=1)


# get embedded representations of words and add to relevant DSs
w2v1=[sum([model1w.wv[y] for y in x]) for x in data1]
w2v2=[sum([model1w.wv[y] for y in x]) for x in data2]
w2v1_1=[sum([model1w.wv[y] for y in x]) for x in data1_1]
w2v2_1=[sum([model1w.wv[y] for y in x]) for x in data2_1]
w2v1_a=[sum([model1w.wv[y] for y in x]) for x in data1_a]
w2v2_a=[sum([model1w.wv[y] for y in x]) for x in data2_a]
w2v1_A=[sum([model1w.wv[y] for y in x]) for x in data1_A]
w2v2_A=[sum([model1w.wv[y] for y in x]) for x in data2_A]


P1["embedded_name"]=w2v1
P2["embedded_name"]=w2v2
P1["embedded_cc"]=w2v1_1
P2["embedded_cc"]=w2v2_1
P1["embedded_name_a"]=w2v1_a
P2["embedded_name_a"]=w2v2_a
P1['embedded_add']=w2v1_A
P2['embedded_add']=w2v2_A
P1['tokenized_name']=data1
P2['tokenized_name']=data2
P1['tokenized_cc']=data1_1
P2['tokenized_cc']=data2_1
P1['tokenized_name_a']=data1_a
P2['tokenized_name_a']=data2_a
P1['tokenized_add']=data1_A
P2['tokenized_add']=data2_A

In [6]:
from copy import deepcopy
P11=deepcopy(P1);P22=deepcopy(P2)

In [7]:
s=set(list(P2["p2.country_code"])+list(P1["p1.country_code"]))

P11.sort_values(by=["p1.country_code"])

                                p1.key  ...                     tokenized_add
5797  ACFE9A2AA21CFB8C0164FE1FB2077995  ...                        [jumeirah]
2059  D8770B2F8D4A764DAA3CCACC78777BAE  ...            [sahab, dubai, marina]
8768  51E153135BD683C2D19D487E9C4305C6  ...           [sheikh, zayed, barsha]
9873  C4089B4631846440AAD3808AE6956DEF  ...                [emaar, boulevard]
2179  55EC13C3E59DBEC7785C92EFDC9D32C4  ...                          [zahara]
...                                ...  ...                               ...
5861  C147FC455D8BDF41123A2E607252A9A7  ...                    [29, sluysken]
393   4D73E001C6153EBCD2EF0D777C3A1798  ...  [r336, from, addo, to, kirkwood]
1268  9E240AE993FD0301A9D0C758AD3AACC6  ...      [69, joseph, lynnwood, glen]
8516  BD0B7F011E452E8A8B07014623F10763  ...              [266, adam, stander]
378   446EAD97545BB1F8217690650811A3B0  ...             [88, kwamwe, nkrumah]

[10000 rows x 15 columns]

## use cosine similaiirity and IoU to detect matches

In [ ]:
%%time
MATCHED_KEYS=[]
p2fields3=[]

for c in s:
  print(c)
  P11c=P11[P11['p1.country_code']==c]
  P22c=P22[P22['p2.country_code']==c]
  
  for i, rowi in P11c.iterrows():
    cos10=[]
    lll=[]
    for j, rowj in P22c.iterrows():
      ll=(len(set(rowi["tokenized_name"]).intersection(rowj["tokenized_name"]))-len(set(rowi["tokenized_name"]).difference(rowj["tokenized_name"])))/len(set(rowi["tokenized_name"]+rowj["tokenized_name"]))
      cs=cosine(rowi[-8], rowj[-8]) -sum([1/counter[w] for w in set(rowi[-4]+rowi[-2]+rowi[-1]).intersection(rowj[-4]+rowj[-2]+rowj[-1])]) 
      

      lll.append(ll)
      cos10.append(cs-ll)

    if lll[cos10.index(min(cos10))]>=0:
      p2fields3=P2[P2['p2.country_code']==c].iloc[cos10.index(min(cos10)),:4]
      MATCHED_KEYS.append((rowi[0],p2fields3[0]))
MK1=pd.DataFrame(MATCHED_KEYS)

CO
AU

## Deal with duplicates

In [ ]:
MK1_c=deepcopy(MK1)
len(MK1_c[1])-len(set(MK1_c[1]))
l=list(MK1_c[1])
dup=set([x for x in l if l.count(x) > 1])

In [ ]:
gl=[]
for d in list(dup):

  l1=[]; l2=[]
  for i in range(len(list(MK1[MK1[1]==d][0]))):
    l1.append(sum(cosine([P11[P11['p1.key']==r] for r in list(MK1[MK1[1]==d][0])][i]["embedded_name"],P22[P22['p2.key']==d]["embedded_name"])))
    l2.append([P11[P11['p1.key']==r] for r in list(MK1[MK1[1]==d][0])][i].iloc[0][0])
  gl.append((l1,l2))

In [ ]:
for i in gl:
  idx=(i[0].index(min(i[0])))
  if min(i[0])<0.5:
    for k in range(len(i[0])):
      if k!=idx:
        MK1_c=MK1_c[MK1_c[0] != i[1][k]]
  else:
    for k in range(len(i[0])):
      MK1_c=MK1_c[MK1_c[0] != i[1][k]]

## save results file as mappings.csv

In [ ]:
MK1_c.to_csv('drive/MyDrive/agoda/mappings.csv', index=False)